@tailwind base;
@tailwind components;
@tailwind utilities;

#left-form {
    background-image: url("./assets/logo.svg");
    background-size: 150px;
    background-color: #FFFBDB;
}

.ant-btn-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(126 58 242 / var(--tw-bg-opacity));
}

.ant-btn-primary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(126 58 242 / var(--tw-bg-opacity));
}
.App {
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%;
}